.App {
    text-align: center;
    background-color: #61dafb;
    
  
    /* border-image: url("./images/cheetahprint.jpg") 30 round; */
  }
  /* import */
  
  #root{
    background-color: white;
    min-height: 100vh;
    text-align: center;
  }
  .app{
   border: 1.5em solid ;
    border-image: url("../images/cheetahprint.jpg") 100 round ;   
    min-height: 95vh;
  }
  
  
  #blackLogo {
  width: 25%;
  position: absolute;
  left: 30px;
  }

#content{
  display: flex;
  flex-direction: column;
}



  .twitter{
    height: 200px;
  }
 