/* .nav:checked {
    margin-left: 250px;
    border: 20px solid blue;
  } */
  /* .nav > *:checked{
    color: blue;
    font-size: xx-large;
  } */
 /* .small_div{
    grid-column: 2;
    visibility: initial;
} */
/* .nav{
  /* display: grid; */
  /* grid-template-columns: 50% 50%; */
  /* visibility: initial; */
/* } */ 

