.app {
  text-align: center;
  background-color: white;
 /* border: 1.5em solid ; */
  /* border-image: url("./images/cheetahprint.png") 100 round ; */

  /* border-image: url("./images/cheetahprint.jpg") 30 round; */
}
/* import */

#root{
  background-color: white;
  min-height: 100vh;
  text-align: center;
  /* border: 1.5em solid ;
  border-image: url("./images/cheetahprint.png") 100 round ; */
  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.icon{
  font-size: 40px;
}