.app {
  text-align: center;
  background-color: white;
 /* border: 1.5em solid ; */
  /* border-image: url("./images/cheetahprint.png") 100 round ; */

  /* border-image: url("./images/cheetahprint.jpg") 30 round; */
}
/* import */

#root{
  background-color: white;
  min-height: 100vh;
  text-align: center;
  /* border: 1.5em solid ;
  border-image: url("./images/cheetahprint.png") 100 round ; */
  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav2>a{
  color: black;
  font-weight: 700;
  font-size: x-large;
  margin-left: 15px;
}
.nav2>a:hover{
    text-decoration: underline;
    color: #EDF778;
}


.contact{
  font-size: 40px;
  padding-left: 0px;
  color: black;
}
.icon{
  font-size: 60px;
  margin-left: 10px;
  color: black;
}
button>a{
  color: black;
}

.skills{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
/* .blogo{
  justify-content: center;
} */
.blackLogo{
  height: 10%;
width: 10%;
position: relative; 
margin-bottom: 0px;
/* left: 30px; */
/* mar */
/* position: fixed; */
/* top: 5%;  */
/* left: 35%;  */
}
.menu{
  color: white;
  font-size: 145%;
  margin-left: 10px;
}
.main{
 
  font-size: 130%;
  margin-top: 10px;
  margin-left: 4px;

}
.main:hover{
  color:#215de9;
}

@media only screen and (max-width: 559px){
  .blackLogo{
  height: 40%;
  width: 40%;
  position: relative; 
  margin-bottom: 0px;
  
  }
}